* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fjalla One', sans-serif;
    background-image: url("assets/img/background-prices.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
}

nav {
    background-color: #333;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: white; 
    /* #ffcc00; */
    color: black;
}

main {
    margin-top: 1%;
    padding: 25px;
    text-align: center;
    color: black;
}

main h1{
    font-size: 56px;
    color: whitesmoke;
    margin-top: 1%;
}

main p{
    font-size: 23px;
    color: whitesmoke;
    margin-bottom: 1%;
}

main a{
    font-size: 23px;
    color: whitesmoke;
}

table {
    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    border: 2px solid black;
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    font-weight: bold;
}