* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fjalla One', sans-serif;
    background-image: url("assets/background-contact.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
}

.logo {
    position: absolute;
    top: 10;
    right: 0;
    width: 60px;
    height: 60px;
}

nav {
    background-color: #333;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: white;
    color: black;
}

main {
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 600px;
    margin: 0 auto;
    margin-top: 10%;
    padding: 25px;
    text-align: center;
    color: whitesmoke;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

main p {
    margin-top: 20px;
    color: whitesmoke;
}

main a{
    color: whitesmoke;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    height: 50px;
    text-align: center;
    margin: 0 auto;
}
footer p {
    color: white;
    margin: 0 auto;
}